hr {
  font-size: 20px;
}

.TXT {
  color: #1d1d1d;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
}
.TXT2 {
  color: #002d57;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 600;
  word-wrap: break-word;
}
link-txt {
  color: #002d57;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 400;
  word-wrap: break-word;
}

/* Personal-info-card-v */
.card-custom {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  width: 18rem;
}

.card-text-custom {
  font-size: 1rem;
  font-weight: 400;
}

.btn-custom {
  font-size: 0.9rem;
  font-weight: 500;
}

.image-circle {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.card-body {
  padding: 1.5rem;
}

/* 8. img-card-box-v */
body {
  font-family: "Poppins", sans-serif;
}
.brochure-card {
  max-width: 350px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.brochure-header {
  background: #f7f7f7;
  padding: 10px;
  text-align: center;
}
.brochure-image {
  max-height: 350px;
  object-fit: cover;
}
