/* Fonts */
@font-face {
  font-family: "popins-light";
  src: url("../fonts/popins/Poppins-Light.ttf");
}

@font-face {
  font-family: "popins-reqular";
  src: url("../fonts/popins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "popins-meduim";
  src: url("../fonts/popins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "popins-semiBold";
  src: url("../fonts/popins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "popins-bold";
  src: url("../fonts/popins/Poppins-Bold.ttf");
}
/* Fonts */

/* Global */
:root {
  /* Color */
  --bs-primary: #002d57 !important;
  --bg-light-I: #fcf9f0 !important;
  --bs-accent: #a11a16;
  --bs-headline-dark: #1d1d1d;
  --heading-gray: #929292;
  --heading-green: #194c45;

  /* English Font (Popins) */
  --popins-l: "popins-light"; /* 300 */
  --popins-r: "popins-regular"; /* 400 */
  --popins-m: "popins-meduim"; /* 500 */
  --popins-s: "popins-semiBold"; /* 600*/
  --popins-b: "popins-bold"; /* 700 */

  /* Arabic Font (Tajwal) */
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

button {
  font-family: var(--popins-m);
  text-transform: capitalize;
  font-size: 24px;
}

.h-line-1 {
  width: 1136px;
  height: 1px;
  background-color: white;
}

body {
  background-color: var(--bg-light-I);
}

h1,
h2,
h3 {
  font-family: var(--popins-b);
}

h2 {
  font-size: 64px;
}

span {
  font-family: var(--popins-m);
}

a {
  font-family: var(--popins-r);
}

button {
  border: none;
}
/* Global */

/* Padding */
.px-105 {
  padding-inline: 105px !important;
}

.py-18 {
  padding-block: 18px;
}

.py-32 {
  padding-block: 32px;
}

.p-10 {
  padding: 10px !important;
}
/* Padding */

/* Gap */
.gap-158 {
  gap: 158px !important;
}

.gap-48 {
  gap: 48px;
}

.gap-24 {
  gap: 24px;
}

.gap-8 {
  gap: 32px;
}

.gap-74 {
  gap: 74px;
}
/* Gap */

/* Font Size */
.fs-24 {
  font-size: 24px !important;
}
/* Font Size */

.container {
  max-width: 1920px !important;
}

/* Custom classes */
.active_nav_item {
  color: white !important;
  border-radius: 8px;
  background-color: var(--bs-primary) !important;
  padding-inline: 20px !important;
  padding-block: 10px !important;
}

.text-heading-gray {
  color: var(--heading-gray) !important;
}

.lang_switcher_btn {
  color: var(--bs-primary, #002d57);
  background-color: var(--bg-light);
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  border: 1px solid var(--bs-primary);
  padding-block: 10px;
  padding-inline: 20px;
}

.main-btn {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--bs-primary, #002d57);
  color: white;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.bg-light-I {
  background-color: var(--bg-light-I) !important;
}
/* Custom classes */
