@media only screen and (min-width: 992px) {
  /* Styles for devices with a width of 1024px or smaller */
  button.prev {
    left: 6%;
  }

  button.next {
    right: 6%;
  }
  .date-box-v {
    width: 76px;
  }
  .col-megamenu img {
    width: 260px !important;
  }
  .featured-pages__card span {
    font-size: 14px !important;
    white-space: nowrap !important;
  }
  .mega-menu__item {
    transform: translateX(0px);
    transition: transform 0.1s ease-in-out;
    padding-top: 8px;
  }
  .mega-menu__item a {
    font-size: 12px !important;
  }

  .mega-menu__item a i {
    padding-top: 4px;
  }
  .mega-menu__item a {
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .mega-menu__item:hover {
    transform: translateX(10px);
  }
  .navbar .has-megamenu {
    position: relative !important;
  }
  .navbar .has-megamenu:hover .megamenu {
    display: block !important;
    top: 162%;
    transform: translateY(0);
  }

  .nav-link {
    border-radius: 8px;
    transition: background-color 0.1s ease-in-out;
  }

  .navbar .has-megamenu:hover .dropdown-toggle::after {
    transform: rotate(0deg) !important;
  }

  .navbar .has-megamenu:hover .nav-link {
    background-color: var(--bg-light-I);
    color: var(--bs-headline-dark) !important;
    border-radius: 8px;
  }
  .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  /* Styles for devices with a width of 768px or smaller (tablets) */
  /* Custom Classes */
  h2 {
    font-size: 32px !important;
  }
  .stroke-grey-btn {
    font-size: 8px;
  }
  .stroke-grey-btn i {
    width: 27px;
    height: 30px;
  }
  .sec-p {
    padding-inline: 20px;
    padding-block: 40px;
  }

  .slide {
    min-width: calc(100% / 1);
    padding: 32px;
  }
  button.prev {
    left: 2%;
  }

  button.next {
    right: 2%;
  }
  button.prev,
  button.next {
    top: 68%;
  }

  .accreditation img {
    width: 90px;
    height: auto;
  }

  .map-pin-container {
    display: none;
  }

  .accreditation {
    gap: 40px;
  }

  .accreditation div {
    gap: 24px;
  }

  .our-channel-wrapper {
    gap: 12px;
  }

  .our-channel__video-slider .slide {
    padding: 4px;
    border-radius: 18px;
  }

  .our-channel__banner .banner {
    height: 201px;
  }
  .our-channel__banner .help-box {
    padding: 15px 10px 10px 10px;
    gap: 8px;
  }
  .our-channel__banner .help-box img {
    width: 30px;
    height: 30px;
  }
  .our-channel__banner .help-box h5 {
    font-size: 14px;
  }
  .our-channel__banner .help-box p {
    font-size: 10px;
  }

  .our-channel__stream {
    width: 261px !important;
    height: 146px !important;
  }

  .header {
    padding-inline: 10px !important;
  }
  .hero-upper {
    width: 100%;
  }

  .icon-box {
    height: auto !important;
  }
  .icon-box__card {
    width: 175px !important;
  }

  .newsteller,
  .numbers-upper__line {
    display: none !important;
  }
  .slide img {
    padding: 24px;
  }

  .featured-pages__card-wrapper {
    padding-block: 4px;
    padding-right: 4px !important;
    padding-left: 4px !important;
  }

  .campuses-map {
    background: url("../img/mob-map.png") 50% / contain no-repeat;
    height: 200px;
    background-size: contain;
    width: 100% !important;
    padding: 0;
  }
  .map-pin img {
    width: 18px;
  }
  .map-pin {
    width: 28px;
    height: 28px;
  }

  .stay-update,
  .campuses-container {
    width: 100% !important;
  }

  .campuses__branches {
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: start;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  .campus-item {
    font-size: 18px;
    white-space: nowrap;
  }

  .icon-box {
    flex-wrap: wrap;
  }
  .numbers-upper__title img {
    width: 30px;
  }

  .success-stories__banner,
  .success-stories__testamonial {
    width: 100% !important;
  }
  .navbar-logo img {
    width: 90%;
  }
  .hero-btn {
    width: 100%;
  }

  .footer {
    padding-inline: 12px;
  }

  .upper-ftr__logo {
    width: 48%;
    height: auto;
  }

  .upper-ftr-container {
    flex-direction: column;
  }

  .upper-ftr__right .row {
    gap: 24px;
  }

  .upper-ftr-container {
    gap: 48px;
  }

  .newsteller {
    width: 100% !important;
    flex-direction: column;
  }
  .newsteller__input form {
    flex-direction: column;
    height: unset;
    gap: 14px;
    padding: 10px;
  }

  .img-box {
    width: 100%;
  }

  .success-stories__banner .img {
    height: 390px;
  }

  .success-stories__banner {
    padding-inline-start: 3px;
  }

  .img-box-container {
    padding-inline: 40px;
  }

  .success-stories__testamonial .wrapper {
    padding-inline: 10px;
    text-align: center;
  }

  .double-title {
    font-size: 38px !important;
  }

  .event-info__date,
  .event-info__content {
    display: flex;
    justify-content: center;
  }
  .event-info__content {
    padding-top: 1rem;
    text-align: center;
  }

  .icon-box-h span {
    font-size: 14.8px;
  }
  .icon-box-h img {
    width: 21px;
    height: 21px;
  }

  .testamonial-img-wrapper,
  .testamonial-title {
    padding-top: 24px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }
  .success-stories-wrapper {
    gap: 0px;
  }
  .testamonial-num {
    padding: 8px !important;
  }

  .content-title {
    font-size: 12px;
  }

  .test-card-h__content {
    gap: 4px;
  }

  .content-desc {
    font-size: 10px;
  }

  .testamonial-num button {
    width: 34px;
    height: 34px;
  }

  .testamonial-title span {
    width: 100%;
    text-align: center !important;
    font-size: 12px;
  }

  .testamonial-img {
    width: 190px;
    height: auto;
    margin: 0 auto;
  }

  .events-announcements {
    gap: 10px;
  }

  .date-box-v {
    width: 76px;
  }

  .featured-pages__card span {
    font-size: 14px;
    white-space: nowrap;
  }
  .change-words-wrapper {
    height: 45px;
  }
  .change-words__word {
    font-size: 30px !important;
    line-height: 130px !important;
  }

  .hero-content__l span {
    line-height: 30px;
  }
  .hero-content {
    height: auto;
  }

  .hero-content__l h1 {
    font-size: 24px;
  }
  .hero-content__r p {
    font-size: 18px;
  }

  .hero-content {
    flex-wrap: wrap;
  }
  .hero-content__l,
  .hero-content__r {
    width: 100%;
  }
  .hero-content__line {
    display: none;
  }
  .test-card-h {
    margin-top: 24px !important;
  }
  .test-card-h img {
    width: 50px;
    height: 50px;
  }

  .content-title {
    color: var(--bs-headline-dark, #1d1d1d);
    font-family: var(--popins-m);
    font-size: 12px;
    font-style: normal;
    line-height: normal;
  }
  .cat-item-wrapper {
    gap: 0;
  }
  .cat-item {
    font-size: 14px;
  }
}
